.addBooks-div{
    margin-top: 50px;
    text-align: left;
    margin-left:500px;
    height:400px;
    width: 300px;
    background: lightgray;
    padding: 40px;
    border-radius: 10px;
}
.input-space{
   margin-bottom: 8px;
}
h6{
    color: mediumblue;

}