.books-image{
    height: 270px;
    width: 250px;
    border-radius: 10px;
}
.single-book-box{
background-color: rgb(248, 233, 233);
text-align: center;
padding: 20px;
border-radius: 10px;
}
.button{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    font-size: 20px;
}