.checkout-div{
    margin: 20px 300px 20px;
    background-color: rgb(18, 108, 131);
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.checkout-heading{
    text-align: left;
    margin: 50px 300px 20px;
    color: rgb(65, 5, 114);
}
.order-btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    margin: 40px 0 20px;
    margin-left: 80px;
}
.checkout-list-design{
    padding: 5px;
}