
.header {
    text-align: center;
}

.header nav{
    line-height: 40px;
    font-size: 20px;
    background-color: lightgray;
}
nav a{
    background-color: lightgray;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}
.logo{
    padding-right: 500px;
    font-size: 30px; 

}